version: "3.8"

services:
  flask-app:
    build: .
    container_name: mailcow-flask
    restart: always
    networks:
      - mailcow-network    
    ports:
      - "5123:5123"
    env_file:
      - .env

# Change the network settings as needed
networks:
  mailcow-network:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-mailcow
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: ${IPV4_NETWORK:-172.22.1}.0/24
        - subnet: ${IPV6_NETWORK:-fd4d:6169:6c63:6f77::/64}