version: "3.8"

services:
  flask-app:
    build: .
    container_name: mailcow-flask
    restart: always
    networks:
      - mailcowdockerized_mailcow-network
    ports:
      - "5123:5123"
    env_file:
      - .env

# Change the network settings as needed
networks:
  mailcowdockerized_mailcow-network:
    external: True